In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql
CREATE DATABASE IF NOT EXISTS WeatherDB;
USE WeatherDB;

 * sqlite:///WeatherDB.db
(sqlite3.OperationalError) near "DATABASE": syntax error
[SQL: CREATE DATABASE IF NOT EXISTS WeatherDB;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [3]:
%sql sqlite:///WeatherDB.db

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);

 * sqlite:///WeatherDB.db
Done.
(sqlite3.IntegrityError) UNIQUE constraint failed: Weather.id
[SQL: INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [10]:
%%sql
Select * from Weather

 * sqlite:///WeatherDB.db
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [11]:
%%sql
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = DATE(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature;

 * sqlite:///WeatherDB.db
Done.

[(2,), (4,)]